<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/brand.svg">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="https://kit.fontawesome.com/611bffe5ba.js" crossorigin="anonymous"></script>
    <title>Minimalistic-UI</title>
</head>
<body>
    <div class="header-container">
        <header class="main-header flex align-item--center">
            <a class="main-header__brand flex" href="../index.html">
                <div class="main-brand--logo"><i class="fa-solid fa-dragon"></i></div>
                <h2 class="main-brand--text">minimalistic UI</h2>
            </a>
            <nav class="main-nav">
                <ul class="main-nav__items flex">
                    <li class="main-nav--item">
                        <a class="nav-link" href="../index.html">
                            <i class="fa-solid fa-house-user"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="main-nav--item">
                        <a class="nav-link" href="javascript:void(0)">Get Started</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="component-hero-section flex">
        <div class="sidebar-container">
            <aside class="sidebar">
                <ul class="sidebar-items">
                    <h2 class="sidebar-heading" >Components</h2>
                    <hr>
                    <li class="sidebar-item"><a href="#alert-section">Alert</a></li>
                    <li class="sidebar-item"><a href="#avatar-section">Avatar</a></li>
                    <li class="sidebar-item"><a href="#badge-section">Badge</a></li>
                    <li class="sidebar-item"><a href="#button-section">Button</a></li>
                    <li class="sidebar-item"><a href="#card-section">Card</a></li>
                    <li class="sidebar-item"><a href="#image-section">Image</a></li>
                    <li class="sidebar-item"><a href="#input-section">Input</a></li>
                    <li class="sidebar-item"><a href="#text-utility-section">Text Utility</a></li>
                    <li class="sidebar-item"><a href="#list-section">List</a></li>
                    <li class="sidebar-item"><a href="#navigation-section">Navigation</a></li>
                    
                </ul>
            </aside>
        </div>
        <main class="main-content">
            <section class="component-items" id="alert-section">
                <h1 class="component-heading">Alert</h1>

                <p class="component-sub--heading">
                Alerts provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.
                </p>

                <p class="component-example--heading">Example</p>

                <p class="component-text">
                    Alerts are available for any length of text, as well as an optional close button.
                </p>

                <div class="component-examples" id="alert-code">
                    <div class="alert alert-primary">
                        <span>A primary alert example!!!!</span>
                    </div>

                    <div class="alert alert-secondary">
                        <span>A secondary alert example!!!!</span>
                    </div>

                    <div class="alert alert-success">
                        <span>A success alert example!!!!</span>
                    </div>

                    <div class="alert alert-danger">
                        <span>A danger alert example!!!!</span>
                    </div>

                    <div class="alert alert-warning">
                        <span>A warning alert example!!!!</span>
                    </div>
                </div>

                <div data-language="html">
                    <pre class="code-snippet language-html">
                        <code class="language-html" id="alert-snippet"></code>
                    </pre>
                </div>
                
            </section>
            <section class="component-items" id="avatar-section">
                <h1 class="component-heading">Avatar</h1>

                <p class="component-sub--heading">
                    Avatars are mostly used for user's profile pictures..
                </p>

                <p class="component-example--heading">Example</p>

                <p class="component-text">
                    Rounded image avatars are mostly used as profile pic in many social media..
                </p>

                <div class="component-examples flex flex-center avatar-gap" id="avatar-code">
                    <div class="avatar avatar-lg">
                      <img class="component-img img-circle" 
                        src="../assets/avatar.svg" 
                        alt="avatar" loading="lazy" />
                    </div>
                    <div class="avatar avatar-md">
                      <img class="component-img img-circle" 
                      src="../assets/avatar.svg" 
                      alt="avatar" loading="lazy" />
                    </div>
                    <div class="avatar avatar-sm">
                      <img class="component-img img-circle" 
                      src="../assets/avatar.svg" 
                      alt="avatar" loading="lazy" />
                    </div>
                    <div class="avatar avatar-xs">
                      <img class="component-img img-circle" 
                      src="../assets/avatar.svg" 
                      alt="avatar" loading="lazy" />
                    </div>
                </div>
                <div data-language="html">
                    <pre class="code-snippet language-html">
                        <code class="language-html" id="avatar-snippet"></code>
                    </pre>
                </div>
            </section>
            <section class="component-items" id="badge-section">
                <h1 class="component-heading">Badge</h1>

                <p class="component-sub--heading">
                    Documentation and examples for badges, our small count and labeling component.
                </p>

                <p class="component-example--heading">Example</p>

                <p class="component-text">
                    Badges can be used as part of links or buttons to provide a counter..
                </p>

                <div class="component-examples flex flex-center avatar-gap" id="badge-code">
                    <button class="button button-primary">
                        <span class="btn-text">Notifications</span>
                        <span class="btn-badge">4</span>
                    </button>
                    <button class="button button-primary relative-positioned">
                        <span class="btn-text">Notifications</span>
                        <span class="top-notification-badge absolute-positioned">4</span>
                    </button>
                    <button class="button button-primary relative-positioned">
                        <span class="btn-text">Notifications</span>
                        <span class="bottom-notification-badge absolute-positioned">4</span>
                    </button>
                </div>
                <div data-language="html">
                    <pre class="code-snippet language-html">
                        <code class="language-html" id="badge-snippet"></code>
                    </pre>
                </div>
            </section>
            <section class="component-items" id="button-section">
                <h1 class="component-heading">Button</h1>

                <p class="component-sub--heading">
                    Use custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more.
                </p>

                <p class="component-example--heading">Example</p>

                <p class="component-text">
                    minimalistic-UI includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.
                </p>

                <div class="component-examples flex flex-center avatar-gap" id="button-code">
                    <button class="button button-primary">Primary</button>
                    <button class="button button-secondary">Secondary</button>
                    <button class="button button-success">Success</button>
                    <button class="button button-warning">Warning</button>
                    <button class="button button-danger">Danger</button>
                </div>

                <div data-language="html">
                    <pre class="code-snippet language-html">
                        <code class="language-html" id="button-snippet"></code>
                    </pre>
                </div>
            </section>

            <!-- Card Section -->
            <section class="component-items" id="card-section">
                <h1 class="component-heading">Card</h1>

                <p class="component-sub--heading">
                    A card is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.
                </p>

                <p class="component-example--heading">Example</p>

                <p class="component-text">
                    Cards are used to show related data.
                </p>

                <div class="component-examples flex flex-center avatar-gap" id="card-code">
                    <div class="card card-horizontal">
                        <div class="image-container">
                          <img alt="card-image" src="../assets/avatar.jpg" class="component-img" loading="lazy" />
                        </div>
                        <div class="wrapper">
                          <div class="text-container">

                            <h3 class="card-heading">Astronaut Suit</h3>

                            <p class="card-sub--heading">
                              Space Walk
                            </p>

                            <p class="seller-detail">
                              Sold by bookstore
                            </p>

                            <p class="card-content">
                              This can help you walk on space.
                            </p>

                            <p class="">
                              &#8377;100K
                            </p>
                          </div>

                          <div class="btn-container">
                            <button class="button button-primary">
                              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                              Buy Now
                            </button>
                            <button class="button button-outline-secondary">
                              Add to cart
                            </button>
                          </div>
                        </div>
                      </div>
                </div>

                <div data-language="html">
                    <pre class="code-snippet language-html">
                        <code class="language-html" id="card-snippet"></code>
                    </pre>
                </div>
            </section>

            <!-- Image Section -->
            <section class="component-items" id="image-section">
                <h1 class="component-heading">Image</h1>

                <p class="component-sub--heading">
                    A card is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.
                </p>

                <p class="component-example--heading">Example</p>

                <p class="component-text">
                    Cards are used to show related data.
                </p>

                <div class="component-examples flex flex-center avatar-gap" id="image-code">
                    <div class="card card-horizontal">
                        <div class="image-container">
                          <img alt="card-image" src="../assets/avatar.jpg" class="component-img" loading="lazy" />
                        </div>
                        <div class="wrapper">
                          <div class="text-container">

                            <h3 class="card-heading">Astronaut Suit</h3>

                            <p class="card-sub--heading">
                              Space Walk
                            </p>

                            <p class="seller-detail">
                              Sold by bookstore
                            </p>

                            <p class="card-content">
                              This can help you walk on space.
                            </p>

                            <p class="">
                              &#8377;100K
                            </p>
                          </div>

                          <div class="btn-container">
                            <button class="button button-primary">
                              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                              Buy Now
                            </button>
                            <button class="button button-outline-secondary">
                              Add to cart
                            </button>
                          </div>
                        </div>
                      </div>
                </div>

                <div data-language="html">
                    <pre class="code-snippet language-html">
                        <code class="language-html" id="image-snippet"></code>
                    </pre>
                </div>
            </section>

            <!-- Input Component Section -->
            <section class="component-items" id="input-section">
                <h1 class="component-heading">Input</h1>

                <p class="component-sub--heading">
                    A card is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.
                </p>

                <p class="component-example--heading">Example</p>

                <p class="component-text">
                    Cards are used to show related data.
                </p>

                <div class="component-examples flex flex-center avatar-gap" id="input-code">
                    <div class="card card-horizontal">
                        <div class="image-container">
                          <img alt="card-image" src="../assets/avatar.jpg" class="component-img" loading="lazy" />
                        </div>
                        <div class="wrapper">
                          <div class="text-container">

                            <h3 class="card-heading">Astronaut Suit</h3>

                            <p class="card-sub--heading">
                              Space Walk
                            </p>

                            <p class="seller-detail">
                              Sold by bookstore
                            </p>

                            <p class="card-content">
                              This can help you walk on space.
                            </p>

                            <p class="">
                              &#8377;100K
                            </p>
                          </div>

                          <div class="btn-container">
                            <button class="button button-primary">
                              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                              Buy Now
                            </button>
                            <button class="button button-outline-secondary">
                              Add to cart
                            </button>
                          </div>
                        </div>
                      </div>
                </div>

                <div data-language="html">
                    <pre class="code-snippet language-html">
                        <code class="language-html" id="input-snippet"></code>
                    </pre>
                </div>
            </section>

            <!-- Text Utility Section -->
            <section class="component-items" id="text-utility-section">
                <h1 class="component-heading">Text Utility</h1>

                <p class="component-example--heading">Example</p>

                <p class="component-text">
                    All HTML headings, &lth1&gt through &lth6&gt are available.
                </p>

                <div class="component-examples flex flex-direction--column bold flex-center avatar-gap" id="text-utility-code">
                        <!--  Heading-1   -->
                    <h1>minimalistic Heading-1</h1>
                        <!--  Heading-2   -->
                    <h2>minimalistic Heading-2</h2>
                        <!--  Heading-3   -->
                    <h3>minimalistic Heading-3</h3>
                        <!--  Heading-4   -->
                    <h4>minimalistic Heading-4</h4>
                        <!--  Heading-5   -->
                    <h5>minimalistic Heading-5</h5>
                        <!--  Heading-6   -->
                    <h6>minimalistic Heading-6</h6>
                </div>

                <div data-language="html">
                    <pre class="code-snippet language-html">
                        <code class="language-html" id="text-utility-snippet"></code>
                    </pre>
                </div>
            </section>

            <!-- List Section -->
            <section class="component-items" id="list-section">
                <h1 class="component-heading">List</h1>

                <p class="component-sub--heading">
                    A card is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.
                </p>

                <p class="component-example--heading">Example</p>

                <p class="component-text">
                    Cards are used to show related data.
                </p>

                <div class="component-examples flex flex-center avatar-gap" id="list-code">
                    <div class="card card-horizontal">
                        <div class="image-container">
                          <img alt="card-image" src="../assets/avatar.jpg" class="component-img" loading="lazy" />
                        </div>
                        <div class="wrapper">
                          <div class="text-container">

                            <h3 class="card-heading">Astronaut Suit</h3>

                            <p class="card-sub--heading">
                              Space Walk
                            </p>

                            <p class="seller-detail">
                              Sold by bookstore
                            </p>

                            <p class="card-content">
                              This can help you walk on space.
                            </p>

                            <p class="">
                              &#8377;100K
                            </p>
                          </div>

                          <div class="btn-container">
                            <button class="button button-primary">
                              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                              Buy Now
                            </button>
                            <button class="button button-outline-secondary">
                              Add to cart
                            </button>
                          </div>
                        </div>
                      </div>
                </div>

                <div data-language="html">
                    <pre class="code-snippet language-html">
                        <code class="language-html" id="list-snippet"></code>
                    </pre>
                </div>
            </section>

            <!-- Navigation Section -->
            <section class="component-items" id="navigation-section">
                <h1 class="component-heading">Navigation</h1>

                <p class="component-sub--heading">
                    A card is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.
                </p>

                <p class="component-example--heading">Example</p>

                <p class="component-text">
                    Cards are used to show related data.
                </p>

                <div class="component-examples flex flex-center avatar-gap" id="navigation-code">
                    <div class="card card-horizontal">
                        <div class="image-container">
                          <img alt="card-image" src="../assets/avatar.jpg" class="component-img" loading="lazy" />
                        </div>
                        <div class="wrapper">
                          <div class="text-container">

                            <h3 class="card-heading">Astronaut Suit</h3>

                            <p class="card-sub--heading">
                              Space Walk
                            </p>

                            <p class="seller-detail">
                              Sold by bookstore
                            </p>

                            <p class="card-content">
                              This can help you walk on space.
                            </p>

                            <p class="">
                              &#8377;100K
                            </p>
                          </div>

                          <div class="btn-container">
                            <button class="button button-primary">
                              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                              Buy Now
                            </button>
                            <button class="button button-outline-secondary">
                              Add to cart
                            </button>
                          </div>
                        </div>
                      </div>
                </div>

                <div data-language="html">
                    <pre class="code-snippet language-html">
                        <code class="language-html" id="navigation-snippet"></code>
                    </pre>
                </div>
            </section>
        </main>
    </div>
    <footer class="component-footer">
        <ul class="main-footer--items flex">
            <li class="main-footer--item">
                <a href="https://www.linkedin.com/in/vishbpradhan/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
            <li class="main-footer--item">
                <a href="https://www.github.com/bishwajitP27" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
            <li class="main-footer--item">
                <a href="https://twitter.com/Vishy6421" target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </li>
        </ul>
    </footer>
    <script src="../index.js"></script>
</body>
</html>