<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/brand.svg">
    <script src="https://kit.fontawesome.com/611bffe5ba.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Minimalistic-UI</title>
</head>
<body>
    <header class="main-header flex align-item--center">
        <a class="main-header__brand flex" href="../index.html">
            <div class="main-brand--logo"><i class="fa-solid fa-dragon"></i></div>
            <h2 class="main-brand--text">minimalistic UI</h2>
        </a>
        <nav class="main-nav">
            <ul class="main-nav__items flex">
                <li class="main-nav--item">
                    <a class="nav-link" href="../index.html">
                        <i class="fa-solid fa-house-user"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="main-nav--item">
                    <a class="nav-link" href="javascript:void(0)">Get Started</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="component-hero-section flex">
        <aside class="sidebar">
            <ul class="sidebar-items">
                <h3 class="sidebar-heading">Get Started</h3>
                <hr>
                <li class="sidebar-item"><a href="">Introduction</a></li>
                <h3 class="sidebar-heading" >Components</h3>
                <hr>
                <li class="sidebar-item"><a href="../components/avatar/avatar.html">Alert</a></li>
                <li class="sidebar-item"><a href="../components/alert/alert.html">Avatar</a></li>
                <li class="sidebar-item"><a href="../components/badge/badge.html">Badge</a></li>
                <li class="sidebar-item"><a href="../components/button/button.html">Button</a></li>
                <li class="sidebar-item"><a href="../components/card/card.html">Card</a></li>
                <li class="sidebar-item"><a href="../components/image/image.html">Image</a></li>
                <li class="sidebar-item"><a href="../components/input/input.html">Input</a></li>
                <li class="sidebar-item"><a href="../components/text-utilities/text.html">Text Utility</a></li>
                <li class="sidebar-item"><a href="../components/list/list.html">List</a></li>
                <li class="sidebar-item"><a href="../components/navigation/navigation.html">Navigation</a></li>
                
            </ul>
        </aside>
        <main class="main-content"></main>
    </div>
    <footer class="main-footer">
        <ul class="main-footer--items flex">
            <li class="main-footer--item">
                <a href="https://www.linkedin.com/in/vishbpradhan/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
            <li class="main-footer--item">
                <a href="https://www.github.com/bishwajitP27" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
            <li class="main-footer--item">
                <a href="https://twitter.com/Vishy6421" target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>