@import url(reset.css);



/* CSS Variables */
:root {
    --header-background: #111;
    --primary-font-color: #fff;
    --header-height: 100px;
    --footer-height: 80px;
}

html {
    font-size: 16px;
    font-family: 'Libre Franklin', sans-serif;
}

a, button {
    cursor: pointer;
}

h1 {
    font-size: 2.5rem;
    line-height: 4rem;
}

h2 {
    font-size: 2rem;
    line-height: 2.5rem;;
}

h3 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h4 {
    font-size: 1rem;
    line-height: 1.5rem;
}

h5 {
    font-size: 0.5rem;
    line-height: 1rem;
}

.body-background {
    background: url(../assets/background.svg) bottom center;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    position: fixed;
    top: var(--header-height);
}

/* Header */
.main-header {
    background: var(--header-background);
    color: var(--primary-font-color);
    font-weight: 700;
    height: var(--header-height);
    padding: 1.25rem 2.5rem;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.main-header__brand {
    gap: 0.8rem;
}

.main-brand--logo {
    font-size: 1.8rem;
    align-self: center;
}

.main-brand--text {
    letter-spacing: 0.1rem;;
}

.main-nav {
    flex-basis: 20%;
}

.main-nav__items {
    gap: 1.5rem;
    justify-content: flex-end;
}

.nav-link {
    font-size: 1.1rem;;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.align-item--center {
    align-items: center;
}

.hero-main--text {
    padding: 2rem;
    background: rgba(0, 0, 0, 0.9);
    font-size: 3rem;
    color: var(--primary-font-color);
    font-weight: bold;
    position: absolute;
    top: 50%;
    width: 50%;
    border-radius: 5px;
    height: 50%;
    text-align: center;
}

.main-footer {
    height: var(--footer-height);
    width: 100%;
    margin: auto;
    background: #00838f;
    position: absolute;
    bottom: 0;
}

.main-footer--items {
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
    background: transparent;
}

.main-footer--item {
    font-size: 2.5rem;
    background: transparent;
}

.main-footer--item > a > i {
    color: #fff;
}